*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

.contact-container .heading {
    margin-top: 1.5rem;
    color: #fff;
}

.contact-container  .heading p {
    max-width: 570px;
    text-align: center;
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.14px;
    margin-top: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-form-large {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-form input {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0px 12px;
    align-items: center;
    gap: 12px;
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #757575;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
}

.input-form-large input {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 0px 12px;
    gap: 12px;
    align-items: flex-start;
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #757575;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    margin: 85px 0px 0px 0px; 
    align-items: center;
    justify-content: center;
    background-color: #1B1B1B;
    width: 100%;
    height: 70px;
    color: #D8D8D8;
}