*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}



.home-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

h1 {
    color: #fff;
}

@media screen and (min-width: 1280px) {
    p {
        color: var(--grey)
    }

    .home-content {
        position: relative;
        max-width: 1200px;
        width: 100%;
        margin-top: 180px;
        display: grid;
    }

    .home-content-mobile {
        display: none;
    }
    
    .description {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        padding: 95px;
    }
    
    .avatar-container {
        width: 100%;
        grid-row: 1;
        grid-column: 2   ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .avatar {
        max-width: 350px;
        max-height: 350px;
        border-radius: 350px;
    }
    
    .bottom-container {
        grid-column: 1 / 3;
        grid-row: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 95px;
    }
    
    .list-partnership {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 749px) and (max-width: 1279px) {
    p {
        color: var(--grey)
    }

    .home-content {
        position: relative;
        max-width: 1200px;
        width: 100%;
        margin-top: 180px;
        display: grid; 
    }

    .home-content-mobile {
        display: none;
    }
    
    .description {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        padding: 95px;
    }
    
    .avatar-container {
        width: 100%;
        grid-row: 1;
        grid-column: 2   ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .avatar {
        max-width: 350px;
        max-height: 350px;
        border-radius: 350px;
    }
    
    .bottom-container {
        grid-column: 1 / 3;
        grid-row: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 95px;
    }
    
    .list-partnership {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 748px) {
    .home-content {
        display: none;
    }

    .home-content-mobile {
        margin-top: 70px;
        position: relative;
        width: inherit;
        height: 778px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        opacity: 1;
        background-image: url("../img/bg-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
    }

    .home-content-mobile p   {
        color: #fff;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
}
